<% content_for(:title, t('.title')) %>
<div class="flex-1 px-4 py-8 flex flex-col items-center">
  <h1 class="text-dullGold text-5xl font-header my-20"><%= t(".title") %></h1>

  <%# ナビゲーションタブ %>
  <%= render "nav_tab" %>

  <%# 自分の投稿一覧 %>
  <div class="w-full md:w-2/3 max-w-5xl bg-darkBlue rounded-lg p-8">
    <div class="my-[60px] max-w-5xl mx-auto">
      <% if @like_reviews.present? %>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
          <% @like_reviews.each do |review| %>
            <%= render "reviews/review", review: review %>
          <% end %>
        </div>
      <% else %>
        <div class="text-dullGold text-center"><%= t(".nothing") %></div>
      <% end %>
    </div>
  </div>

  <%= paginate @like_reviews %>
</div>