<header class="bg-darkSlateBlue text-lightGray flex justify-between h-20 font-header">
  <div class="flex items-center justify-center px-5">
    <%= link_to root_path do %>
      <h1 class="text-dullGold font-header text-3xl">MysteRyview</h1>
    <% end %>
  </div>
  <div class="flex items-center justify-end">
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.sign_out'), destroy_user_session_path, data: { turbo_method: :delete } %>
    </div>
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.top'), root_path %>
    </div>
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.ranking'), '#' %>
    </div>
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.post_review'), new_review_path %>
    </div>
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.review_index'), reviews_path %>
    </div>
    <div class="mr-5 hover:opacity-70">
      <%= link_to t('.my_page'), profile_path %>
    </div>
  </div>
</header>