<div class="bg-grayBlue rounded-lg p-4 flex">
  <!-- カードの左側 -->
  <div class="mr-7 flex-shrink-0">
    <% if review.image.attached? %>
      <%= image_tag review.image, class: "w-[108px] h-[150px]" %>
    <% else %>
      <%= image_tag "eyecatch.png", class: 'h-48 w-full object-cover' %>
    <% end %>
    <div class="flex flex-justify-center my-3">
      <div>
        <% if review.user.avatar.attached? %>
          <%= image_tag review.user.avatar, class: "w-[32px] h-[32px] border border-gray-300 rounded-full" %>
        <% else %>
          <i class="fa-solid fa-circle-user fa-2x" style="color: #e0e0e0;"></i>
        <% end %>
      </div>
      <div class="text-lightGray text-center flex items-center ml-2">
        <%= review.user.name %>
      </div>
    </div>
    <div class="flex justify-center mt-2">
      <% if current_user && current_user.own?(review) %>
        <%= link_to edit_review_path(review) do %>
          <i class="fa-solid fa-pen-to-square text-dullGold mr-2 fa-lg"></i>
        <% end %>
        <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
          <i class="fa-solid fa-trash-can text-dullGold fa-lg"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- カードの右側 -->
  <div class="flex flex-col flex-grow">
    <div class="text-lightGray text-xl mb-4"><%= t(".book_title") %><%= link_to review.book.title, reviews_path(q: { book_title_cont: review.book.title }), class: "hover:opacity-70" %></div>
    <div class="text-lightGray text-xl mb-4"><%= t(".author") %><%= link_to review.book.author, reviews_path(q: { book_author_cont: review.book.author }), class: "hover:opacity-70" %></div>
    <div class="text-lightGray text-xl mb-4">星5評価: <%= review.rating %></div>
    <div class="flex justify-end">
      <% unless current_user && current_user.own?(review) %>
        <%= render "likes/like_button", { review: review } %>
      <% else %>
        <div class='ms-auto'>
          <i class="fa-regular fa-thumbs-up fa-xl" style="color: #eed9b6;"></i>
        </div>
      <% end %>
      <div id="review-<%= review.id %>-likes-count" class="text-lightGray text-xl mb-4 ml-2">
        <%= review.likes.count %>
      </div>
    </div>
    <div class="text-dullGold underline underline-offset-dullGold text-right"><%= link_to t(".show_review"), review_path(review), class: "hover:opacity-70" %></div>
  </div>
</div>