<div class="text-lightGray flex justify-center mt-15">
  <ul class="steps space-x-4">
    <li class="step step-success text-dullGold">本の情報</li>
    <li class="step step-success text-dullGold">ネタバレなし</li>
    <li class="step step-success text-dullGold">ネタバレあり</li>
    <li class="step">その他の情報</li>
  </ul>
</div>
<% content_for(:title, t(".title")) %>
<div class="flex-1">
  <h1 class="text-dullGold text-center text-5xl font-header mt-20"><%= t(".title") %></h1>
  <div class="container mx-auto mt-20 mb-20 px-6 md:px-32 py-6">
    <%= form_with model: @spoiler, url: step_form_spoilers_path, local: true do |f| %>
      <%= render "shared/error_messages", object: f.object, class: "mb-20" %>
      <div class="field mb-20">
        <%= f.label :spoiler_text, class: "text-dullGold font-header block mb-2" %>
        <%= f.text_area :spoiler_text, class: "form-control bg-dustyRose border border-gray-200 rounded-lg w-full px-3 py-2 textarea h-60", placeholder: "思いっきりネタバレを含みましょう！\n「○○のトリックがすごかった！」など" %>
      </div>
      <div class="field mb-20">
        <%= f.label :foreshadowing, class: "text-dullGold font-header block mb-2" %>
        <%= f.text_area :foreshadowing, class: "form-control bg-dustyRose border border-gray-200 rounded-lg w-full px-3 py-2 textarea", placeholder: "自分で気づいた伏線はありますか？\n・ページ数\n・何行目" %>
      </div>
      <div class="actions flex justify-center">
        <%= f.submit t(".next"), class: "btn btn-primary bg-goldBeige text-darkNavy block" %>
      </div>
    <% end %>
  </div>
</div>
