<%= form_with model: review, local: true do |f| %>
  <%= render "shared/error_messages", object: f.object, class: "mb-20" %>
  <div class="field mb-20">
    <%= f.label :book_title, class: "text-dullGold font-header block mb-2" %>
    <%= f.text_field :book_title, class: "form-control bg-lightGray border border-gray-200 rounded-lg w-full px-3 py-2", placeholder: "本のタイトルを入力してください", value: @review.book&.title.to_s %>
  </div>
  <div class="field mb-20">
    <%= f.label :book_author, class: "text-dullGold font-header block mb-2" %>
    <%= f.text_field :book_author, class: "form-control bg-lightGray border border-gray-200 rounded-lg w-full px-3 py-2", placeholder: "著者を入力してください", value: @review.book&.author.to_s %>
  </div>
  <div class="field mb-20">
    <%= f.label :non_spoiler_text, class: "text-dullGold font-header block mb-2" %>
    <%= f.text_area :non_spoiler_text, class: "form-control bg-lightGray border border-gray-200 rounded-lg w-full px-3 py-2 textarea h-60", placeholder: "感想・レビューを入力してください\n※ネタバレは含まないでください" %>
  </div>
  <div class="field mb-20">
    <%= f.label :spoiler_text, class: "text-dullGold font-header block mb-2" %>
    <%= f.text_area :spoiler_text, class: "form-control bg-dustyRose border border-gray-200 rounded-lg w-full px-3 py-2 textarea h-60", placeholder: "思いっきりネタバレを含みましょう！\n「○○のトリックがすごかった！」など" %>
  </div>
  <div class="field mb-20">
    <%= f.label :foreshadowing, class: "text-dullGold font-header block mb-2" %>
    <%= f.text_area :foreshadowing, class: "form-control bg-dustyRose border border-gray-200 rounded-lg w-full px-3 py-2 textarea", placeholder: "自分で気づいた伏線はありますか？\n・ページ数\n・何行目" %>
  </div>
  <div class="mb-20">
    <%= f.label :rating, class: "text-dullGold font-header block mb-2" %>
    <%= f.number_field :rating, min: 1, max: 5, class: "bg-lightGray", required: true, value: 1 %>
  </div>
  <div class="mb-20">
    <%= f.label :image, class: "text-dullGold font-header block mb-2" %>
    <%= f.file_field :image, class: "bg-lightGray file-input" %>
  </div>
  <div class="actions">
    <%= f.submit t(".post"), class: "btn btn-primary bg-goldBeige text-darkNavy" %>
  </div>
<% end %>