<div class="max-w-6xl mx-auto px-4 py-8 flex flex-col md:flex-row gap-8 mt-30">
  <div class="w-full md:w-1/3 bg-darkBlue p-6 rounded-md">
    <h1 class="text-dullGold text-2xl font-header mb-6 text-center"><%= review.book.title %></h1>

    <div class="mb-6 flex justify-center">
      <% if review.image.attached? %>
        <%= image_tag review.image, class: "w-[196px] h-[273px]" %>
      <% else %>
        <div class="w-[196px] h-[273px] bg-lightGray mb-7">
          本の画像
        </div>
      <% end %>
    </div>

    <div class="mb-4">
      <p class="text-lightGray text-center"><%= t(".book_title") %><%= link_to review.book.title, "#", class: "hover:opacity-70" %></p>
    </div>

    <div class="mb-4 text-center">
      <p class="text-lightGray"><%= t(".author") %><%= link_to review.book.author, "#", class: "hover:opacity-70" %></p>
    </div>

    <div class="flex mb-4 justify-center">
      <div class="text-lightGray text-xl mb-4">星5評価: <%= review.rating %></div>
    </div>

    <div class="flex justify-center mb-4">
      <div class="w-6 h-6 bg-[#d9d9d9] flex items-center justify-center rounded-sm text-xs text-[#1b1f3b]">
        👍
      </div>
      <span class="ml-2 text-lightGray">24いいね</span>
    </div>

    <div class="mb-4 text-center">
      <span class="text-[#d4b886]">#タグ, #タグ</span>
    </div>

    <div class="flex justify-center mb-4">
      <% if current_user && current_user.own?(review) %>
        <%= link_to edit_review_path(review) do %>
          <i class="fa-solid fa-pen-to-square text-dullGold fa-xl mr-5"></i>
        <% end %>
        <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
          <i class="fa-solid fa-trash-can text-dullGold fa-xl"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="w-full md:w-2/3 flex flex-col">
    <div class="mb-5 mt-10">
      <div class="flex items-center mb-4">
        <div class="w-8 h-8 bg-[#d9d9d9] rounded-full mr-3"></div>
        <span class="text-lightGray"><%= @review.user.name %></span>
      </div>
    </div>

    <p class="text-dullGold text-sm mb-4"><%= t(".annotation") %></p>

    <div class="bg-darkBlue p-6 rounded-md flex-1 flex flex-col">
      <div class="border-b border-dullGold mb-4">
        <h2 class="text-xl mb-2 text-dullGold font-header"><%= t(".review") %></h2>
      </div>

      <div class="flex-1">
        <!-- simple_formatで改行を反映させる -->
        <%= simple_format @review.non_spoiler_text, class: "text-lightGray text-sm leading-relaxed" %>
      </div>
    </div>

  </div>
</div>