<div class="max-w-6xl mx-auto px-4 py-8 flex flex-col md:flex-row gap-8 mt-30">
  <div class="w-full md:w-1/3 bg-darkBlue p-6 rounded-md">
    <h1 class="text-dullGold text-2xl font-header mb-6 text-center"><%= review.book.title %></h1>

    <div class="mb-6 flex justify-center">
      <% if review.image.attached? %>
        <%= image_tag review.image, class: "w-[196px] h-[273px]" %>
      <% else %>
        <%= image_tag "eyecatch.png", class: "w-[196px] h-[273px]" %>
      <% end %>
    </div>

    <div class="mb-4">
      <p class="text-lightGray text-center"><%= t(".book_title") %><%= link_to review.book.title, reviews_path(q: { book_title_cont: review.book.title }), class: "hover:opacity-70" %></p>
    </div>

    <div class="mb-4 text-center">
      <p class="text-lightGray"><%= t(".author") %><%= link_to review.book.author, reviews_path(q: { book_author_cont: review.book.author }), class: "hover:opacity-70" %></p>
    </div>

    <div class="flex mb-4 justify-center">
      <div class="text-lightGray text-xl mb-4">星5評価: <%= review.rating %></div>
    </div>

    <div class="flex justify-center">
      <div class="flex">
        <% unless current_user && current_user.own?(review) %>
          <%= render "likes/like_button", { review: review } %>
        <% else %>
          <div>
            <i class="fa-regular fa-thumbs-up fa-xl" style="color: #eed9b6;"></i>
          </div>
        <% end %>
        <div id="review-<%= review.id %>-likes-count" class="text-lightGray text-xl mb-4 ml-2">
          <%= review.likes.count %>
        </div>
      </div>
    </div>

    <div class="flex mb-4 justify-center">
      <% review.tags.each do |tag| %>
        <%= link_to tag.name, reviews_path(tag_name: tag.name), class: "badge rounded-xl bg-goldBeige text-darkNavy py-1 px-1 mx-1" %>
      <% end %>
    </div>

    <div class="flex justify-center mb-4">
      <% if current_user && current_user.own?(review) %>
        <%= link_to edit_review_path(review) do %>
          <i class="fa-solid fa-pen-to-square text-dullGold fa-xl mr-5"></i>
        <% end %>
        <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
          <i class="fa-solid fa-trash-can text-dullGold fa-xl"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="w-full md:w-2/3 flex flex-col">
    <div class="flex items-center mb-4">
      <div>
        <% if review.user.avatar.attached? %>
          <%= image_tag review.user.avatar, class: "w-[32px] h-[32px] border border-gray-300 rounded-full" %>
        <% else %>
          <i class="fa-solid fa-circle-user fa-2x" style="color: #e0e0e0;"></i>
        <% end %>
      </div>
      <div class="text-lightGray text-center flex items-center ml-2">
        <%= review.user.name %>
      </div>
    </div>

    <p class="text-dullGold text-sm mb-4"><%= t(".annotation") %></p>

    <!-- non_spoiler_text -->
    <div class="bg-darkBlue p-6 rounded-md flex-1 flex flex-col">
      <div class="border-b border-dullGold mb-4">
        <h2 class="text-xl mb-2 text-dullGold font-header"><%= t(".review") %></h2>
      </div>

      <div class="flex-1">
        <!-- simple_formatで改行を反映させる -->
        <%= simple_format @review.non_spoiler_text, class: "text-lightGray text-sm leading-relaxed font-text" %>
      </div>
    </div>
  </div>
</div>