<% content_for(:title, t('.title')) %>
<div>
  <%= render "shared/search_form", q: @q, url: reviews_path %>

  <h1 class="text-dullGold mt-[80px] text-center text-4xl font-header"><%= t(".title") %></h1>

  <h2 class="text-dullGold mt-7 text-center"><%= @total_reviews_count %>件</h2>

  <div class="mt-[80px] max-w-5xl mx-auto">
    <% if @reviews.present? %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <% @reviews.each do |review| %>
          <%= render "shared/review", review: review %>
        <% end %>
      </div>
    <% else %>
      <div class="text-dullGold text-center"><%= t(".nothing") %></div>
    <% end %>
  </div>

  <%= paginate @reviews %>
</div>