<div>
  <div class="mt-[80px] text-center">
    <label class="input bg-lightGray">
      <input type="search" required placeholder="Search"/>
    </label>
  </div>

  <h1 class="text-dullGold mt-[80px] text-center text-4xl font-header">投稿一覧</h1>

  <h2 class="text-dullGold mt-7 text-center"><%= @reviews.count %>件</h2>

  <div class="mt-[80px]">
    <% if @reviews.present? %>
      <% @reviews.each do |review| %>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-4xl mx-auto">
          <div class="bg-grayBlue rounded-lg p-4 flex">
            <!-- カードの左側 -->
            <div class="mr-7 flex-shrink-0">
              <div class="w-[108px] h-[150px] bg-lightGray mb-7">
                本の画像
              </div>
              <div class="text-lightGray text-center">
                <%= review.user.name %>
              </div>
            </div>
            <!-- カードの右側 -->
            <div class="flex flex-col flex-grow">
              <div class="text-lightGray text-xl mb-4">書籍: <%= link_to review.book.title, "#", class: "hover:opacity-70" %></div>
              <div class="text-lightGray text-xl mb-4">著者: <%= link_to review.book.author, "#", class: "hover:opacity-70" %></div>
              <div class="text-lightGray text-xl mb-4">星5評価: <%= review.rating %></div>
              <div class="text-lightGray mb-7">いいね機能</div>
              <div class="text-dullGold underline underline-offset-dullGold text-right"><%= link_to "レビューを見る", "#", class: "hover:opacity-70" %></div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="text-dullGold">投稿がありません</div>
    <% end %>
  </div>
</div>