<% content_for(:title, "投稿作成") %>
<div>
  <h1 class="text-dullGold text-center text-5xl font-header">レビューを書く</h1>
  <%= form_with model: @review, local: true do |f| %>
    <div class="mb-7">
      <%= f.label :title, "本のタイトル", class: "text-dullGold font-header" %>
      <%= f.text_field :title, class: "form-control bg-lightGray", placeholder: "本のタイトルを入力してください" %>
    </div>
    <div class="mb-7">
      <%= f.label :author, "著者", class: "text-dullGold font-header" %>
      <%= f.text_field :author, class: "form-control bg-lightGray", placeholder: "著者を入力してください" %>
    </div>
    <div class="mb-7">
      <%= f.label :non_spoiler_text, "感想・レビュー（ネタバレなし）", class: "text-dullGold font-header" %>
      <%= f.text_area :non_spoiler_text, class: "form-control bg-lightGray", placeholder: "感想・レビューを入力してください\n※ネタバレは含まないでください" %>
    </div>
    <div class="mb-7">
      <%= f.label :spoiler_text, "感想・レビュー★ネタバレあり", class: "text-dullGold font-header" %>
      <%= f.text_area :spoiler_text, class: "form-control bg-dustyRose", placeholder: "思いっきりネタバレを含みましょう！\n「○○のトリックがすごかった！」など" %>
    </div>
    <div class="mb-7">
      <%= f.label :foreshadowing, "気づいた伏線（未入力でも可）", class: "text-dullGold font-header" %>
      <%= f.text_area :spoiler_text, class: "form-control bg-dustyRose", placeholder: "自分で気づいた伏線はありますか？\n・ページ数\n・何行目" %>
    </div>
    <div class="mb-7">
      <%= f.label :rating, "評価 (1〜5)", class: "text-dullGold font-header" %>
      <%= f.number_field :rating, min: 1, max: 5, class: "bg-lightGray", required: true %>
    </div>
    <div class="actions">
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>